@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Review Claims";
    var Approvedclaims = ViewData["ReviewClaims"] as List<ST10187895_PROG6212_PART1.Models.ReviewClaimsModel>;
}
<body>
    <h1>Claims Review</h1>
    <p1>Review submitted claims information below</p1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Claim ID</th>
                <th scope="col">Contractor ID</th>
                <th scope="col">Hours Worked</th>
                <th scope="col">Documentation</th>
                <th scope="col">Claim Status</th>
                <th scope="col">Invoice</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Approvedclaims)
            {
                <tr>
                    <td>@claim.claimID</td>
                    <td>@claim.contractorID</td>
                    <td>@claim.hoursWorked</td>
                    <td>
                        <a href="~@claim.documentPath" download>Download</a>

                    </td>
                    <td>@claim.claimStatus</td>

                    <td>
                        <a href="/Home/DownloadInvoice?claimID=@claim.claimID" class="btn btn-primary">Download Invoice</a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</body>
