<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        position: relative;
    }

    .title {
        font-size: 28px;
        color: royalblue;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

        .title::before, .title::after {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            border-radius: 50%;
            left: 0px;
            background-color: royalblue;
        }

        .title::before {
            width: 18px;
            height: 18px;
            background-color: royalblue;
        }

        .title::after {
            width: 18px;
            height: 18px;
            animation: pulse 1s linear infinite;
        }

    .message, .signin {
        color: rgba(88, 87, 87, 0.822);
        font-size: 14px;
    }

    .signin {
        text-align: center;
    }

        .signin a {
            color: royalblue;
        }

            .signin a:hover {
                text-decoration: underline royalblue;
            }

    .flex {
        display: flex;
        width: 100%;
        gap: 6px;
    }

    .form label {
        position: relative;
    }

        .form label .input {
            width: 100%;
            padding: 10px 10px 20px 10px;
            outline: 0;
            border: 1px solid rgba(105, 105, 105, 0.397);
            border-radius: 10px;
        }

            .form label .input + span {
                position: absolute;
                left: 10px;
                top: 15px;
                color: grey;
                font-size: 0.9em;
                cursor: text;
                transition: 0.3s ease;
            }

            .form label .input:placeholder-shown + span {
                top: 15px;
                font-size: 0.9em;
            }

            .form label .input:focus + span, .form label .input:valid + span {
                top: 30px;
                font-size: 0.7em;
                font-weight: 600;
            }

            .form label .input:valid + span {
                color: green;
            }

    .submit {
        border: none;
        outline: none;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
    }

        .submit:hover {
            background-color: rgb(56, 90, 194);
        }

    }
</style>
<body>
    <div id="SubmitHoursForm" class="form-container active">
        <form class="form" asp-controller="SubmitClaim" asp-action="SubmitClaim" method="post" enctype="multipart/form-data">
        <p class="title">Claim Hours </p>
        <p1>Input Claims information Below</p1>
        <label>
            <input placeholder="" type="text" required="required" name="contractorID" class="input">
            <span>Contractor Id</span>
        </label>

        <label for="worked">
            <input id="worked" placeholder="" type="number" required="required" name="hoursWorked" class="input">
            <span>Hours Worked</span>
        </label>
        <label for="rate">
            <input id="rate" placeholder="" type="number" required="required" name="hourlyRate" class="input">
            <span>Hourly Rate</span>
        </label>
            <input type="hidden" id="expectedPay" name="totalAmount" />
        <label>
            <input placeholder="" type="text" required="" name="notes" class="input">
            <span>Notes</span>
        </label>
        <label>
            <p1>Upload Timesheets here</p1>
                <input placeholder="" type="file" name="document" class="input"/>
            
        </label>
            <div id="result">Total Expected Pay: R 0</div>

        <button class="submit">Submit</button> 
        <p></p>
    </form>
    </div>
    
</body>
<script>
    const worked = document.getElementById('worked');
    const rate = document.getElementById('rate');
    const amountDiv = document.getElementById('result');
    const totalAmount = document.getElementById('expectedPay')

    function updateResult() {
        const num1 = parseFloat(worked.value) || 0; 
        const num2 = parseFloat(rate.value) || 0;

        const result = num1 * num2;

        amountDiv.textContent = `Total Expected Pay: R ${result}`;
        totalAmount.value = result;
    }

    worked.addEventListener('input', updateResult);
    rate.addEventListener('input', updateResult);
</script>