@{
    ViewData["Title"] = "HR";
}

<style>




    /*
    body, html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f2f5;
        padding-top: 60px; /* Adjust this value based on your navbar's height
    } */



    .dashboard-container {
        background-color: white;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        position:center;
        text-align: center;
        margin-top: 20px;
        justify-content: center;
    }

    .dashboard-title {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .dashboard-button {
        display: block;
        width: 100%;
        padding: 15px;
        margin: 10px 0;
        background-color: royalblue;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: uppercase;
        text-decoration: none;
    }

        .dashboard-button:hover {
            background-color:  rgb(56, 90, 194);
        }
</style>

<body>
    <div class="dashboard-container">
        <h1 class="dashboard-title">HR Dashboard</h1>
        <a asp-controller="Home" asp-action="ApprovedClaims" class="dashboard-button">View Approved</a>
        <a asp-controller="Home" asp-action="ReviewClaims" class="dashboard-button">Claims History</a>
        <a asp-controller="Home" asp-action="UpdateDetails" class="dashboard-button">Add New Lecturer Details</a>

    </div>
</body>
