@{
    ViewData["Title"] = "Pending Claims";
}
<body>
    <h1>Claims Pending Review</h1>
    <p1>Review Claims information below</p1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Claim ID</th>
                <th scope="col">Contractor ID</th>
                <th scope="col">Hours</th>
                <th scope="col">Submission Date</th>
                <th scope="col">Documentation</th>
                <th scope="col">Approve</th>
                <th scope="col">Reject</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>32</td>
                <td>35012</td>
                <td>100</td>
                <td>20/08/4202</td>
                <td>
                    <a href="~/DUMMY FILES/timesheet1.pdf" download>Download</a>

                </td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td>33</td>
                <td>35020</td>
                <td>120</td>
                <td>22/08/2024</td>
                <td>
                    <a href="~/DUMMY FILES/timesheet2.pdf" download>Download</a>

                </td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>34</td>
                <td>35003</td>
                <td>98</td>
                <td>29/08/2024</td>
                <td>
                    <a href="~/DUMMY FILES/timesheet3.pdf" download>Download</a>

                </td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
</body>

