@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Review Claims";
}
<body>
    <h1>Claims Review</h1>
    <p1>Review Claims information below</p1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Claim ID</th>
                <th scope="col">Hours</th>
                <th scope="col">Status</th>
                <th scope="col">Submission Date</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td>32</td>
                <td>100</td>
                <td>Approved</td>
                <td>20/08/2024</td>
            </tr>

            <tr>
                <td>33</td>
                <td>120</td>
                <td>Rejected</td>
                <td>22/08/2024</td>
            </tr>
            <tr>
                <td>34</td>
                <td>98</td>
                <td>Pending</td>
                <td>29/08/2024</td>
            </tr>
        </tbody>
    </table>
</body>
